@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4faff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #6ab5ff -1.44%,
    #6ab5ff -1.43%,
    #ae5aff 101.18%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(
    90deg,
    #dfeefd -1.44%,
    #6ab5ff -1.43%,
    #ae5aff 101.18%
  );
}

.loader {
  width: 30px;
  height: 30px;
  animation: loading 1s infinite ease-out;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    #dfeefd -1.44%,
    #6ab5ff -1.43%,
    #ae5aff 101.18%
  );
}
.loader-small {
  width: 10px;
  height: 10px;
  animation: loading 1s infinite ease-out;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    #dfeefd -1.44%,
    #6ab5ff -1.43%,
    #ae5aff 101.18%
  );
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}
